@import "../../scss/color";
@import "../../scss/share";

.time__picker {
	@include circle(540px, transparent, $DEEP_PINK, 5px);
	@include flex--center();

	&__outline__deep__pink {
		border-color: $DEEP_PINK;
	}

	&__outline__deep__aqua__blue {
		border-color: $DEEP_AQUA_BLUE;
	}

	&__inline {
		&__start {
			@include circle(500px, $DEEP_PINK, transparent, 0px);
			@include flex--center();

			&__deep__pink {
				background-color: $DEEP_PINK;
			}

			&__deep__aqua__blue {
				background-color: $DEEP_AQUA_BLUE;
			}
		}

		&__running {
			@include circle(500px, $WHITE, $DEEP_PINK, 5px);
			@include flex--center();

			&__deep__pink {
				border-color: $DEEP_PINK;
			}

			&__deep__aqua__blue {
				border-color: $DEEP_AQUA_BLUE;
			}
		}
	}

	&__button__start {
		&__deep__pink {
			@include circle(90px, $WHITE, transparent, 0px);
			position: relative;
			cursor: pointer;

			&::before {
				@include triange(25px, 18px, 36%, $DEEP_PINK);
			}
		}

		&__deep__aqua__blue {
			@include circle(90px, $WHITE, transparent, 0px);
			position: relative;
			cursor: pointer;

			&::before {
				@include triange(25px, 18px, 36%, $DEEP_AQUA_BLUE);
			}
		}
	}

	&__button__running {
		&__deep__pink {
			@include circle(90px, $DEEP_PINK, transparent, 0px);
			position: relative;
			cursor: pointer;
			@include running($WHITE);
		}

		&__deep__aqua__blue {
			@include circle(90px, $DEEP_AQUA_BLUE, transparent, 0px);
			position: relative;
			cursor: pointer;
			@include running($WHITE);
		}
	}
}