@import "../../scss/color";
@import "../../scss/share";
.button__icon {
	@include circle(24px, transparent, $WHITE, 2px);
	display: inline-block;
	position: relative;
	margin-right: 4px;

	&--play {
		@include triange(5px, 1px, 6px, $WHITE);
	}

	&--checked {
		color: $WHITE;

		&::before {
			content: '';
			pointer-events: none;
			position: absolute;
			color: $WHITE;
			border: 1px solid;
			background-color: $WHITE;
			width: 3px;
			height: 1px;
			left: 20%;
			top: 50%;
			transform: skew(0deg,50deg);
		}

		&::after {
			content: '';
			pointer-events: none;
			position: absolute;
			color: $WHITE;
			border: 1px solid;
			background-color: $WHITE;
			width: 6px;
			height: 1px;
			left: 45%;
			top: 42%;
			transform: skew(0deg,-50deg);
		}
	}
}

.button__icon--pink {
	border-color: $DEEP_PINK;

	.button__icon--choosed {
		@include circle(12px, $DEEP_PINK, transparent, 0px);
		position: relative;
		top: 4px;
		left: 4px;
	}
}