@import "../../scss/color";
@import "../../scss/share";

.todo__list {
	label {
		cursor: pointer;
		@include triange(7px, 0, 0, $WHITE);
		transform: rotate(0deg);
		transition: 0.5s;
	}

	&__contnet {
		height: 0px;
		overflow: hidden;
		transition: 0.5s;
		margin-bottom: 30px;
	}

	&__item--checked {
		text-decoration: line-through;
		color: $WHITE;
	}

	input[type=checkbox]:checked+.title-bar label {
		transform: rotate(90deg);
	}

	input[type=checkbox]:checked~.todo__list__contnet {
		height: 200px;
	}

	input[type=checkbox] {
		display: none;
	}

	&__pomodoro__group {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__pomodoro {
		@include circle(12px, $WHITE, transparent, 0px);
		margin-left: 8px;
	}
}