@import "../../scss/color";
@import "../../scss/share";

.todo__list {
	label {
		cursor: pointer;
		@include triange(7px, 0, 0, $WHITE);
		transform: rotate(0deg);
		transition: 0.5s;
	}

	&__contnet {
		height: 0px;
		overflow: hidden;
		transition: 0.5s;
		margin-bottom: 30px;
	}

	input[type=checkbox] {
		display: none;

		&:checked+.title-bar label {
			transform: rotate(90deg);
		}

		&:checked~.todo__list__contnet {
			height: 200px;
		}
	}
}