.title-bar{
	width:100%;
	padding: 8px 16px;
	background-color: #335a83;
	font-size: 24px;
	color:#fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}