@import "../../scss/color";
.title-bar{
	width:100%;
	padding: 8px 16px;
	background-color: $LIGHT_BLUE;
	font-size: 24px;
	color:$WHITE;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}